
@namespace MudTheme.Pages.Dashboard.Analysis
@inherits MudComponentBase

<div>
    <MudPaper Class="pa-6">
        <MudStack Spacing="1">

            <div>
                <div class="avatar">@Avatar</div>
                <div>
                    <div class="d-flex justify-space-between">
                        <MudText Typo="Typo.body2" Style="@($"color:{Colors.Grey.Default}")">@Title</MudText>
                        <MudIcon Icon="@Icons.Outlined.Info" Size="Size.Small"></MudIcon>
                    </div>

                    <MudText Class="mt-1" Typo="Typo.h4">@Total</MudText>
                </div>
            </div>

            <div class="relative" style="height: @(string.IsNullOrEmpty(ContentHeight) ? "auto" : ContentHeight+"px")">
                <div class="absolute pb-2" style="bottom:0px;">
                    @ChildContent
                </div
            </div>

            <MudDivider Style="overflow-hidden"></MudDivider>

            <div class="mt-2 pt-2" >
                @Footer
            </div>
        </MudStack>
    </MudPaper>
</div>